.barra{
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    width: 20%;
    height: 90%;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 9px;
    left: 10px;
}
.editar{
    width: 70%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 9px;
    right: 10px;
}
.botones{
    width: 70%;
    justify-content: center;
    background: rgba(255, 255, 255, 0.8);
    align-items: center;
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 9px;
    right: 10px;
}
.textArea{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 240px;
}
.botonesSubmit{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
}